setuptools>=44.0.0,<80.0.0  # 限制版本范围，避免新版本兼容性问题
arviz==0.22.0
matplotlib==3.10.0
numpy==2.3.5
pandas==2.3.3
plotly==6.6.0
pymc==5.28.3
pymc_extras==0.10.0
pymc_marketing==0.19.2
nutpie==0.16.8
PyYAML==6.0.3
scikit_learn==1.8.0
seaborn==0.13.2
SQLAlchemy==2.0.49
statsmodels==0.14.5
streamlit==1.51.0
xarray==2025.10.1
xgboost==3.2.0
ydata_profiling==4.18.1
h5netcdf
netcdf4