setuptools>=44.0.0,<80.0.0  # 限制版本范围，避免新版本兼容性问题
streamlit==1.38.0
pandas==2.0.3
numpy==1.24.3
sqlalchemy
pymysql
psycopg2-binary
statsmodels
openpyxl
ydata-profiling
streamlit-pandas-profiling
plotly
scikit-learn
xgboost